.nav-content-hide
{
    position: absolute;
    top: 41px;
    width: 224px;
    display: none;
    background: white;
    z-index: 20;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.content-hide-body ul
{
    padding-right: 10px;
    width: 100%;
}
.pn-left
{
    width: 197px;
    margin-right: 10px;
    float: left;
}
.pn-right
{
    width: 753px;
    float: left;
    height: 305px;
    overflow: hidden;
}

.cart-total {
	height:149px!important;
}
.promocode-coupon-btn-link {
width:64px;
}
.cart-benefits-list-item-last{width:215px!important;}

.promocode-coupon-input {
border-radius: 2px 2px 2px 2px;
float: left;
width: 130px !important;
padding:4px 2px;
}

.promocode-coupon-btn-link {
top: -2px;
padding: 6px 8px!important;
}
.home-news .home-news-wrap{border:1px solid #e2e2e2;}
div.oic-f-money {
padding: 8px 6px 20px 0;
margin-left: 555px;
}